<div class="container-fluid">
  <div class="row my-4">
    <div class="col-2 ml-5 mr-5 border rounded">
      <button class="btn btn-light border rounded-circle" data-toggle="modal" data-target="modalAddAccount">
        <span>+</span>
      </button>
    </div>
    <div class="col-9 ml-5 border rounded">
hhh
    </div>
  </div>
</div>

<div #modalAddAccount id="modalAddAccount" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Formulario</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
