<div class="container-fluid">
  <div class="row d-flex justify-content-between mt-4">
    <div class="col-3 ml-5">
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-8 mr-5">
      <div class="card border border-dark">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      </div>
    </div>
  </div>
</div>
